.frameClass {
  border: none; }

.buttonContainer {
  display: flex;
  justify-content: center; }

.headerFaqs__div {
  display: flex;
  align-items: flex-end; }
  .headerFaqs__div__img {
    height: 260px;
    width: 100%; }

.headerFaqs__link {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px;
  font-size: 25px;
  font-weight: 600;
  color: midnightblue; }

.headerFaqs__title {
  position: absolute;
  color: maroon;
  margin-left: 10px;
  font-size: 45px;
  margin-bottom: 0; }

.faqsMain {
  background-color: rgba(0, 0, 0, 0.03); }
  .faqsMain__acordionContainer {
    padding: 25px; }
  .faqsMain__customizeCard {
    border: none !important; }
  .faqsMain__answers {
    font-family: 'Rubik', sans-serif; }
