.headerFaqs {
    &__div {
        display: flex;
        align-items: flex-end;

        &__img {
            height: 260px;
            width: 100%;
        }
    }

    &__nav {
        display: flex;
    }

    &__font {
        font-weight: 600;
    }

    &__link {
        display: flex;

        position: absolute;

        left: 0;
        top: 0;

        padding: 15px;

        font-size: 25px;
        font-weight: 600;

        color: midnightblue;

        
    }
    &__title {
        position: absolute;
        color: maroon;
        margin-left: 10px;

        font-size: 45px;
        margin-bottom: 0;
    }
}

.faqsMain {
    background-color: rgba(0,0,0,.03);

    &__acordionContainer {
        padding: 25px;
    }

    &__customizeCard {
        border: none !important;
    }

    &__answers {
        font-family: 'Rubik', sans-serif;
    }
}

//Para celu, padd-left: 0