.galeriaMainSection {

    &__backgroundModal {
        background: transparent !important;
    }

    &__titleModal {
        align-self: center;
        color: antiquewhite;
    }

    &__noMargin {
        margin: 0 !important;
    }

    &__modalHeader {
        background: darkorchid; 
    }

    &__customImg {
        margin: 15px;
        border-radius: 15px;

        width: 180px !important;
        height: 200px !important;

        &__hoverEffect {
            position:absolute;
            top: 50%;
            left: 45%;
            opacity: 0;
        }
        &:hover{
            opacity: 0.5;
        }

         &:hover ~ &__hoverEffect {
           position:absolute;
           top: 50%;
           left: 45%;
           opacity: 1;
           pointer-events: none;
        }
    }
}