.mainGlosario {
    background-color: antiquewhite;

    &__glosarioTitleContainer {
        display: flex;
        justify-content: center;
    
        h1 {
            font-size: 40px;
            font-family: 'Poppins', sans-serif;
            color: cornflowerblue;
            margin: 15px;
        }
    }

    &__panelContent {
        font-size: 14px;
    }
}