.market {
    display: flex;

    padding-top: 35px;
    padding-left: 20px;

    &__img {
        height: 300px !important;
    }

    &__aside {
        width: 15%;

        h3 {
            border-bottom: thin solid darkgray;
        }

        &__filterContainer {
            display: flex;
            justify-content: space-between;
        }
    }
}

.fixedButton {
    position: fixed !important;
    bottom: 5%;
    right: 5%;
}

.itemList {
    display: flex;
    flex-wrap: wrap;

    width: 90%;
}