.market {
    display: flex;
    flex-wrap: wrap;

    padding: 20px;

    &__img {
        height: 300px !important;
    }
}

.fixedButton {
    position: fixed !important;
    bottom: 5%;
    right: 5%;
}

.itemList {
    display: flex;
    flex-wrap: wrap;

    width: 90%;
}